{% extends 'base.html.twig' %}

{% block title %}Requests{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dropzone') }}
    {{ encore_entry_link_tags('select2') }}

{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Request</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">{%trans %}request.new.request{% endtrans %}</h3>
                            </div>
                            {{ form_start(requestForm,{'attr': { 'enctype':'multipart/form-data','method':'post','name':'dropzone_form', 'id': 'dropzone_form', 'role': 'form','class':'dropzone' }}) }}
                            {{ form_row(requestForm.id,{'label':'Code','attr': {'class': 'form-control form-control-sm'}}) }}
                            {{ form_errors(requestForm) }}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_row(requestForm.statusRequest,{'label':'Status','attr': {'class': 'form-control form-control-sm select2'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_row(requestForm.typesRequest,{'label':'Reason','attr': {'class': 'form-control form-control-sm select2'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_row(requestForm.requestPeriodStart,{'label':'Start Date','attr': {'class': 'form-control form-control-sm'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_row(requestForm.requestPeriodEnd,{'label':'End Date','attr': {'class': 'form-control form-control-sm'}}) }}                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            {{ form_row(requestForm.description,{'label':'Description','id':'descriptionDocument','attr': {'class': 'form-control form-control-sm','required':'true'}}) }}
                                        </div>

                                    </div>
                                </div>
                                <div class="card-footer">
                                    {{ form_widget(requestForm.save,{'label':'Save','id':'addDocument', 'attr': {'class': 'btn btn-info'}}) }}
                                    {{ form_widget(requestForm.annulled,{'label':'Cancel Request','attr': {'class': 'btn btn-default float-right'}}) }}
                                </div>
                            </div>

                            {% if request.documents is not defined or request.documents is null %}
                            {% else %}
                                <div class="card card-secondary">
                                    <div class="card-header">
                                        <h3 class="card-title">Request Documents</h3>
                                    </div>
                                    <div class="card-body">
                                        {% for document  in request.documents %}
                                            <li><a target="_blank" href="{{ app_documents_directory~document.name }}">{{ document.name }}</a></li>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {{ form_end(requestForm) }}
                        </div>
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">My Calendar</h3>
                            </div>

                            <div class="card-body">
                                <div id="calendar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>{{ app.user.availableDays }}</h3>
                                <p>{% trans %}backend.days.available{% endtrans %}</p>
                                <div class="icon">
                                    <i class="far fa-calendar-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card card-secondary">
                            <div class="card-header">
                                My Request
                            </div>
                            <div class="card-body">
                                {% for request in listRequest %}
                                    {% if (request.statusRequest.name == "Pending") %}
                                        <div class="callout callout-warning">
                                            <span class="badge badge-warning">{{ request.statusRequest }}</span>
                                            <h5>{{ request.requestPeriodStart|date("d-m-Y") }}
                                                {% if( request.requestPeriodEnd|date("d-m-Y")) %}
                                                    <i class="fas fa-xs fa-arrow-right"></i> {{ request.requestPeriodEnd|date("d-m-Y") }}
                                                {% endif %}
                                            </h5>
                                            <p>{{ request.Description }}</p>
                                        </div>
                                    {% endif %}

                                    {% if (request.statusRequest.name == "Accepted") %}
                                        <div class="callout callout-success">
                                            <span class="badge badge-success">{{request.statusRequest}}</span>
                                            <h5>{{request.requestPeriodStart|date("d-m-Y")}}
                                                {% if(request.requestPeriodEnd|date("d-m-Y")) %}
                                                    <i class="fas fa-xs fa-arrow-right"></i> {{ request.requestPeriodEnd|date("d-m-Y") }}
                                                {% endif %}
                                            </h5>
                                            <p>{{ request.Description }}</p>
                                        </div>
                                    {% endif %}

                                    {% if (request.statusRequest.name == "Declined") %}
                                        <div class="callout callout-danger">
                                            <span class="badge badge-danger">{{request.statusRequest}}</span>
                                            <h5>{{request.requestPeriodStart|date("d-m-Y")}}
                                                {% if(request.requestPeriodEnd|date("d-m-Y")) %}
                                                    <i class="fas fa-xs fa-arrow-right"></i> {{ request.requestPeriodEnd|date("d-m-Y") }}
                                                {% endif %}
                                            </h5>
                                            <p>{{ request.Description }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>


    <!--Add event modal-->
    <div id="addNewRequest" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="float-leftl">
                        <h4>New request</h4>
                    </div>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                        <span class="sr-only">close</span></button>
                </div>
                <div id="modalBody" class="modal-body">
                    <input type="hidden" name="startDateInput" id="startDateInput" value="">
                    <input type="hidden" name="endDateInput" id="endDateInput" value="">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <span><b>From: </b></span>
                                <span id="modal-start-date"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group float-right">
                                <span><b>To: </b></span>
                                <span id="modal-end-date"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select name="type_request" id="select_type_request_modal" style="width: 280px;" class="form-control select2">
                                    <option disabled selected value> -- select an option to filter -- </option>
                                    {% for type_request in type_requests %}
                                        <option value="{{ type_request.id }}">{{ type_request.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="description" id="description" type="text" rows="4"
                                  placeholder="Description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}

    <script src="{{ absolute_url(asset('fullcalendar/main.js')) }}"></script>

    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

        });


        $(document).ready(function () {

            function disable() {
                $("#addDocument").attr('disabled', 'disabled')
            }

            function enable() {
                $("#addDocument").removeAttr('disabled');
            }

            if ($("#{{ requestForm.typesRequest.vars.id }}").val().length < 1) {
                disable()
            }

            $("#{{ requestForm.typesRequest.vars.id }}").on("select2:select", function () {

                if ($("#{{ requestForm.typesRequest.vars.id }}").val().length < 1) {
                    disable()
                } else {
                    enable();
                }

            })

        });

    </script>

    <script>

        $('#create_request_statusRequest').prop('disabled', true);

        {% if request.statusRequest.name is defined %}
            {% if request.statusRequest.name != 'Pending' %}
                $('button').prop('disabled', true);
                $('textarea').prop('disabled', true);
                $('#create_request_requestPeriodStart').prop('readonly', true);
                $('#create_request_requestPeriodEnd').prop('readonly', true);
                $('select').prop('disabled', true);
            {% endif %}
        {% else %}
            $('#create_request_annulled').css('display','none' );
        {% endif %}


        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                selectable: true,
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                events: $.parseJSON('{{ events | raw }}') ,
                select: function (info) {
                    $('#addNewRequest').modal('show');
                    $('#addNewRequest').find('#modal-start-date').text(info.startStr);
                    $('#addNewRequest').find('#modal-end-date').text(info.endStr);
                    $('#startDateInput').val(info.startStr)
                    $('#endDateInput').val(info.endStr)
                }
            });
            $('#submitButton').on('click', function (e) {
                e.preventDefault();
                doSubmit();
            })

            function doSubmit() {
                $('#addNewRequest').modal('hide');

                var start_date = $('#startDateInput').val();
                var end_date = $('#endDateInput').val()
                var description = $('#description').val()
                var type_request = $('#select_type_request_modal').val()

                $.ajax({
                    type: "POST",
                    url: '{{ path("save_request_calendar") }}',
                    data: { start_date: start_date, end_date: end_date, description:  description, type_request: type_request },
                    success: function (data) {
                        calendar.addEvent({
                            title: $('#description').val(),
                            start: $('#startDateInput').val(),
                            end: $('#endDateInput').val(),
                            allDay: true
                        });
                    }
                })

            }

            calendar.render();
        });

    </script>

    {{ encore_entry_script_tags('dropzone') }}

{% endblock %}
