{% extends 'base.html.twig' %}

{% block title %}Restablece tu contraseña{% endblock %}

{% block body %}
    <!-- Main content -->
    <section class="login-background">
        <div class="col-md-6 col-md-offset-3">
            <div class="box box-info box-login">
                <div class="box-header with-border">
                    <h3 class="box-title">Restablece tu contraseña</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                {{ form_start(form) }}
                <div class="box-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.plain_password.first, null, {'label': 'Nueva contraseña', 'hint':  'Longitud contraseña' }) }}
                            <div class="input-group">
                                {{ form_widget(form.plain_password.first) }}
                                <span class="input-group-addon password-switch"><i class="fa fa-eye"></i></span>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.plain_password.second, null, {'label': 'Repetir nueva contraseña', 'hint': 'Longitud contraseña' }) }}
                            <div class="input-group">
                                {{ form_widget(form.plain_password.second) }}
                                <span class="input-group-addon password-switch"><i class="fa fa-eye"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    {{ form_row(form.submit, {'label': 'Enviar', 'attr': {'class': 'btn btn-primary'}}) }}
                </div>
                <!-- /.box-footer -->
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}

{# {% block footerscripts %} #}
{# {{ parent() }} #}

{# <script type="text/javascript" src="{{ asset('bundles/uicommon/js/switch-password-text.js') }}"></script> #}

{# <script type="text/javascript"> #}
{# switchPasswordText(); #}
{# </script> #}
{# {% endblock %} #}