{% extends 'base.html.twig' %}

{% block title %}Holidays{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('select2') }}
{% endblock %}

{% block body %}

    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Holiday</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">{%trans %}holiday.new.holiday{% endtrans %}</h3>
                            </div>
                            {{ form_start(holidayForm,{'attr': { 'enctype':'multipart/form-data','method':'post','name':'holidayForm', 'id': 'holidayForm', 'role': 'form' }}) }}
                            {{ form_row(holidayForm.id,{'label':'Code','attr': {'class': 'form-control form-control-sm'}}) }}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            {{ form_row(holidayForm.holidayName,{'label':'Name','attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            {{ form_row(holidayForm.workplaces,{'label':'Work Place','attr': {'class': 'form-control select2'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            {{ form_row(holidayForm.startDay,{'label':'Start Day','attr': {'class': 'form-control '}}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            {{ form_row(holidayForm.endDay,{'label':'End Day','attr': {'class': 'form-control '}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                {{ form_widget(holidayForm.save,{'label':'Save','attr': {'class': 'btn btn-info'}}) }}
                                <button class="btn btn-secondary" style="float: right">Delete</button>
                            </div>
                            {{ form_end(holidayForm) }}
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        });
    </script>

{% endblock %}

